body{
  background-color: #cad2d3;
  font-family: 'Poppins', sans-serif;
}

.column {
  margin-right: 43px;
  float: left;
  width: 33.33%;
  height: 100%;
  flex-direction: column;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  display: flex;
  margin: 0px 310px;
}

.tron{
  background-color: white;
  border-radius: 65px;
  width : 90px;
  height: 90px;
  text-align: center;
  position: relative;
  left: 35%;
  top: 50px;
  z-index: 100;
}

.price{
  color: #2195f7;
  font-size: 20px;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.centered {
  color: white;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}


.below{
  color: white;
  font-size: 10px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.new{
  position: absolute;
  top: 9%;
  left: 9%;
  transform: translate(-50%, -50%);
  z-index: 60;
  color: white;
  font-weight:bold
}

.image{
  position: relative;
  filter: grayscale(10%);
}
.layer {
  background-color: rgba(72, 75, 85, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.text h1 p{
  margin: 0;
  text-align: center;
}
.text{
  text-align: center;
  background-color: white;
}

.text h2{
  color: #748590;
  font-size: 20px;
}

.text p{
  color: #95a7b3;
  font-size: 12px;
}
.btn{
  padding: 10px 25px;
  font-size: 20px;

}

.btn.btn1{
  color: #2195f7;
  border: 1px solid #2195f7;
}
.btn.btn2{
  color: #6c136f;
  border: 1px solid #6c136f;
}
.btn.btn3{
  color: #40b22d;
  border: 1px solid #40b22d;
}

.btn1:hover{
  background-color: #2195f7;
  color: white;
  border: none;
}
.btn2:hover{
  background-color: #6c136f;
  color: white;
  border: none;
}
.btn3:hover{
  background-color: #40b22d;
  color: white;
  border: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #e9ecec;
}

th, td {
  text-align: center;
  padding: 8px;
  color: #4e4f50;
}

tr:nth-child(even) {background-color: #ffffff;}